body {
  background-color: rgb(48, 48, 48);
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  color: white;
  text-align: center;
}
.timer-watch-holder{
  margin-top: 5rem;
  display: flex;
  gap: 3rem;
}
.btn {
  background-color: rgb(24, 47, 60);
  font-size: 1.2rem;
  color: white;
  font-weight: 600;
  margin-left: 1rem;
  padding: 1rem 2rem;
  border: 2px;
}
.btn:hover {
  background-color: rgb(21, 103, 191);
}
.stop-watch, .timer {
  padding: 1rem;
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  border: 2px solid rgb(129, 129, 129);
  width: 300px;
  position: relative;
}
.stopwatch-display span {
  font-size: 1.5rem;
}

.countdown-time {
  color: white;
}
.countdown-header, .stopwatch-header {
  color: white;
  margin: 0;
  font-size: 2rem;
}
.countdown-label {
  color: white;
  margin: 0;
  text-align: center;
}
.cross {
  color: white;
}
.countdown-display, .stopwatch-display  {
  text-align: center;
  color: white;
  margin: 0;
}
.inc-btn, .dec-btn {
  margin: 0.5rem 0.5rem;
}
.cross {
  position:absolute;
  top: -10px;
  right: -5px;
  font-weight: 900;
  font-size: 1.2rem;
}